<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Myapp" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= link_to 'Home', root_path %>
    <%= link_to 'Admin', admin_path %>
    <%= link_to 'Logins', logins_path %>
    <% if signed_in? %>
      <%= link_to current_user.email, edit_user_registration_path %>
      <%= button_to "Log out", destroy_user_session_path, method: :delete, data: { turbo: "false" } %>
    <% else %>
      <%= link_to "Log in", new_user_session_path %>
      <%= link_to "Register", new_user_registration_path %>
    <% end %>
    <hr>
    <main class="p-8">
      <p class="bg-green-500"><%= notice %></p>
      <p class="bg-red-500"><%= alert %></p>
      <%= yield %>
    </main>
  </body>
</html>
